* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

body {
    position: relative;
	height: 100vh;
	width: 100vw;

}

.container {
	position: absolute;
	width: 80%;
	height: 80%;
    max-width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.19);

}

.content {
	padding: 25px 40px;
}

h2 {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after {
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: mediumaquamarine;
}

.fld {
	width: 100%;
	border: none;
    outline: none;
	background-color: rgba(230, 230, 230, 0.6);
    padding: 7px 15px;
	margin-bottom: 20px;
	transition: 0.3s;
}

.fld:focus {
    border: 2px solid royalblue;
    background-color: white;
}

select {
    margin-bottom: 20px;
}

textarea {
	min-height: 150px;
}

.btn {
	padding: 12px 30px;
    border-radius: 10px;
	background-color: mediumaquamarine;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
    background-color: teal;
}